<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64516111213-afm7s4shdl18ppcsjdbb66thq8pv7vb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64516111213-afm7s4shdl18ppcsjdbb66thq8pv7vb8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>64516111213-9oebe5sa22v7efe4240dinm1qkdv0865.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOhu3kRpajrxOp7cYqkxkX4r4JbPzUA3s</string>
	<key>GCM_SENDER_ID</key>
	<string>64516111213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokAppPoly</string>
	<key>PROJECT_ID</key>
	<string>khoanubu</string>
	<key>STORAGE_BUCKET</key>
	<string>khoanubu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64516111213:ios:5c56535aab20deee7e3864</string>
	<key>DATABASE_URL</key>
	<string>https://khoanubu-default-rtdb.firebaseio.com</string>
</dict>
</plist>